.layout {
	@apply bg-white border-b border-gray-200 py-2 md:py-4 px-2 sm:px-4  dark:bg-gray-800 dark:border-gray-600;

	.wrapper {
		@apply container flex flex-wrap justify-between items-center mx-auto;

		.title {
			@apply self-center;
		}
		.menu {
			@apply justify-between items-center w-full md:flex md:w-auto md:order-1;
		}
	}
}

ul.links {
	@apply flex flex-col gap-2 p-4 mt-4 md:p-0 rounded-lg border border-gray-300 dark:border-gray-400
	 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0;

	li > a.item {
		@apply block md:text-lg px-2 text-gray-700 rounded hover:bg-gray-100 
		md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white 
		dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white 
		md:dark:hover:bg-transparent dark:border-gray-700;
	}
	li > a.active {
		@apply text-white bg-blue-700  hover:bg-blue-800
		md:bg-transparent hover:md:bg-transparent md:text-blue-700 md:p-0 dark:text-white;
	}
}

button.button {
	@apply inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 
	dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600;
}
